[Unit]
Description=LiaScript Development Server
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/libexec/liascript-portal-link-courses
ExecStart=/usr/bin/liascript-devserver --input %h/.local/share/learning-portal/courses
Restart=on-failure
Environment=PORT=3000

[Install]
WantedBy=default.target
