[Unit]
Description=LiaScript Development Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/liascript-devserver --input %h/.local/share/portal-units
Restart=on-failure
Environment=PORT=3000

[Install]
WantedBy=default.target
